extends layout

block content
	.container
		.jumbotron
			h1 About US
			.container
				h1 How May I help You
				p Lorem ipsum dolor site amet, consectetur adpiscing elit. Fusce orci nulla, vehicula ullacorper lobortis sed, luctur quis lacus
				a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
		